body {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#main {
    transition: margin-left .5s;
}

#content{
    padding: 30px;
    width: 100%;
    margin: auto;
}

#authBox {
  text-align: center;
  margin: auto;
  padding: 20px;
  box-shadow: 5px 10px #888888;
  position:relative;
  top:25%;
  width: 20%;
  height: 50%;
  color: white;
  background-color:#286090;
  font-size: 25px;
}

#authBox input{
  font-size: 20px;
  background-color:#286090;
  padding: 10px;
  width: 80%;
}

#btn{
  border: 1px solid white;
}

#authBox h4{
  font-size: 30px;
}

.header {
  background-color: #f1f1f1;
  padding: 0px;
  text-align: center;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + body {
  padding-top: 60px;
}

.sidenav {
  margin:auto;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F8F8F8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #333333;
  display: block;
  transition: 0.3s;
}

.sidenav span:hover{
  background-color: #eceff1;
  color: #000000;
  transition: .2s;
}

.sidenav .closebtn:hover{
  background-color: #F8F8F8;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.flex-wrapper{
  display: flex;
  width:100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.decks {
  text-align: center;
  margin: 50px;
  border: 1px solid;
  padding: 20px;
  box-shadow: 5px 10px #888888;
  position:relative;
  background-color:white;
  width:250px;
  height:250px;
}

.cards {
  margin: 50px;
  border: 1px solid;
  padding: 20px;
  box-shadow: 5px 10px #888888;
  position:relative;
  background-color:white;
  font-size: 25px;
  width:250px;
  height:250px;
}

#title{
  float: none;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction:row;
}


.deckText{
  font-size: 36px;
  word-wrap: break-word;
  white-space: normal;
}

.cardText{
  font-size: 24px;
  word-wrap: break-word;
  white-space: normal;
}

#profile{
  width:100%;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.flex-wrapper #outerFlex{
    flex-direction: column;
}

.flex-wrapper #innerFlex{
    flex-direction: row;
}

.flex-wrapper #scoreFlex{
    flex-direction: column;
}


