body {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#main {
    transition: margin-left .5s;
}

#content{
    padding: 30px;
    width: 100%;
    margin: auto;
}

#authBox {
  text-align: center;
  margin: auto;
  border: 1px solid;
  border-radius: 25px;
  padding: 0px 20px 20px 20px;
  box-shadow: 5px 10px #888888;
  position:relative;
  top:25%;
  width: 20%;
  height: 50%;
  background-color:white;
  font-size: 25px;
}

#authBox input{
  font-size: 20px;
}

#authBox h4{
  font-size: 30px;
}

.header {
  background-color: #f1f1f1;
  padding: 0px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #455a64;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

#navbar i{
  color: white;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #718792;
  color: white;
}

#navbar a.active {
  background-color: #1c313a;
  color: white;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + body {
  padding-top: 60px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #455a64;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    background-color: #718792;
}

.sidenav .closebtn:hover {
    background-color: #455a64;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

